body {
    font-family:  Lato, 'Helvetica Neue', Helvetica, "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", Arial serif;
}

html,
body {
	margin: 0;
	padding: 0;
	
}

header {
	width: 100%;
	margin-bottom: 30px;
    background-color: #9E005D;
    color: white;
}

h1 {
    margin: 20px;
}

hgroup{
	padding: 20px;
}

hgroup h1 {
    padding: 0;
    margin: 0;
}

hgroup h2 {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#wrap {
	width: 100%;
	margin: 0;
	padding: 0;
}

#footer {
	width: 100%;
	height: 44px;
	line-height: 44px;
    background-color: #9E005D;
    color: white;
}

#footer .container{
	padding: 0 10px;
}

.hidden {
    visibility: hidden;
    block: none;
}
